# IntelliJ/PyCharm
/.idea/
/*.iml

# Python venv
.venv/

# ChatGPT Secret Key
.env

# data folder for screenshots and answers
/data/

# ignore all Python bytecode files and cache folders
*.py[cod]
__pycache__/

